<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<h2>Comments</h2>

<%= render @article.comments %>

<h2>Add new comment</h2>

<%= render "comments/form" %>
<br>
<%= link_to "Delete", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<br>
<%= link_to "Home", articles_path %>
